<app-header></app-header>

<div class="container">
    <div class="row bg-success text-light text-center px-5">
        <h1 class="my-5">Contact Us</h1>
        <p class="mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus blanditiis quas ipsam
            temporibus corporis iure et maiores, modi repudiandae assumenda velit voluptas nesciunt repellat facere amet
            hic accusamus laboriosam vero.</p>
    </div>


    <!-- get in touch sec -->
    <div class="row my-5">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <h1>Get In Touch</h1>
            <p style="text-align: justify;" class="my-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
                distinctio, saepe, nobis iusto praesentium error et modi molestias, culpa delectus vel dolorum neque
                voluptatem quidem provident mollitia sint tenetur. Omnis.</p>

            <!-- address portions -->
            <div class="row my-3">

                <div class="col-md-2">

                    <div class="bg-success d-flex justify-content-center align-items-center"
                        style="width: 50px; height: 50px; border-radius: 50%;">

                        <div class="fa-solid fa-location text-light"></div>

                    </div>
                </div>

                <div class="col-md-10">
                    <h3>Address</h3>
                    <p>NYC 4567 , PO Berlin</p>
                </div>
            </div>

            <!-- email -->
            <div class="row my-3">

                <div class="col-md-2">

                    <div class="bg-success d-flex justify-content-center align-items-center"
                        style="width: 50px; height: 50px; border-radius: 50%;">

                        <div class="fa-solid fa-message text-light"></div>

                    </div>
                </div>

                <div class="col-md-10">
                    <h3>Email</h3>
                    <p>abcgmail.com</p>
                </div>
            </div>

            <!-- phone -->
            <div class="row my-3">

                <div class="col-md-2">

                    <div class="bg-success d-flex justify-content-center align-items-center"
                        style="width: 50px; height: 50px; border-radius: 50%;">

                        <div class="fa-solid fa-phone text-light"></div>

                    </div>
                </div>

                <div class="col-md-10">
                    <h3>Phone</h3>
                    <p>+91 8254693254</p>
                </div>
            </div>

            <hr>

            <h1>Follow Us</h1>
            <div class="d-flex mt-4">
                <div class="bg-success d-flex justify-content-center align-items-center"
                    style="width: 50px; height: 50px; border-radius: 50%;">

                    <div class="fa-brands fa-facebook text-light"></div>

                </div>

                <div class="bg-success d-flex justify-content-center align-items-center mx-3"
                    style="width: 50px; height: 50px; border-radius: 50%;">

                    <div class="fa-brands fa-instagram text-light"></div>

                </div>

                <div class="bg-success d-flex justify-content-center align-items-center"
                    style="width: 50px; height: 50px; border-radius: 50%;">

                    <div class="fa-brands fa-twitter text-light"></div>

                </div>

                <div class="bg-success d-flex justify-content-center align-items-center mx-3"
                    style="width: 50px; height: 50px; border-radius: 50%;">

                    <div class="fa-brands fa-youtube text-light"></div>

                </div>

            </div>

        </div>

        <div class="col-md-5">
            <form class="shadow p-5 border mt-5 mt-md-0">
                <h2 class="mb-4 text-center">Client Testimony</h2>

                <div class="mb-3">
                    <input type="text" placeholder="Name" class="form-control">
                </div>
                <div class="mb-3">
                    <input type="text" placeholder="Email" class="form-control">
                </div>
                <div class="mb-3">
                    <input type="text" placeholder="Message" class="form-control">
                </div>

                <p>By Submitting , you are agreeing to the terms and condition of our website</p>


                <div class="text-end">
                    <button class="btn btn-success">Sumbit</button>
                </div>
            </form>
        </div>

        <div class="col-md-1"></div>

    </div>


    <!-- location -->
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d317719.5878194947!2d-0.43123520718529124!3d51.52817978528537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2sLondon%2C%20UK!5e0!3m2!1sen!2sin!4v1753340374194!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100 mt-5"></iframe>
</div>