<app-header></app-header>


<div class="container">
    <div class="row mb-5">

        <div class="col-md-6 bg-success d-flex justify-content-center align-items-center">
            <img src="https://static.vecteezy.com/system/resources/previews/044/771/696/non_2x/a-basket-brimming-with-vegetables-free-png.png" alt="no image" class="w-50">

        </div>

        <div class="col-md-6 p-5">
            <h1>Welcome to CookPedia</h1>
            <p style="text-align: justify;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo beatae in necessitatibus amet, ratione sit cupiditate laboriosam vel eius excepturi aspernatur debitis mollitia optio harum. Architecto laudantium sapiente at nemo!</p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center flex-column">
            <h1>About Us</h1>
            <p style="text-align: justify;" class="my-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae quaerat eveniet amet voluptates. Provident perferendis quos amet, aspernatur earum aut aliquid quasi commodi inventore nihil doloremque tempora, alias cupiditate eum.</p>

            <ul style="text-align: justify;" class="mb-5">
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste est ab delectus molestiae magnam veritatis.</li>
                <li>Omnis veritatis, illum vitae labore commodi laboriosam dolor perferendis</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
            </ul>

            <button class="btn btn-success">Know More About Us</button>
        </div>

        <div class="col-md-6">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/046/822/681/small_2x/a-chef-in-uniform-holding-a-tray-of-food-isolated-on-a-transparent-background-png.png" alt="chef image" class="w-100">
        </div>
    </div>
</div>
