



<app-admin-header></app-admin-header>



<div class="container-fluid p-0" style="overflow-x: hidden;">
    <div class="row">
        <div class="col-md-2">
            <app-admin-sidebar></app-admin-sidebar>
        </div>

    <!-- remaining contents -->

        <div class="col-md-10 ps-0">
            

            <div class="row bg-warning p-3">
                <h1> <i class="fa-solid fa-message"></i>Requests</h1>
            </div>


            <h1 class="text-center my-5">All Testimonial Requests</h1>


            <table class="table table-bordered w-full">
                <thead >
                    <tr>
                        <th class="bg-success text-light">SI</th>
                        <th class="bg-success text-light">User Name</th>
                        <th class="bg-success text-light">User Email</th>
                        <th class="bg-success text-light">Message</th>
                        <th class="bg-success text-light">Status</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Anna</td>
                        <td>anagmail.com</td>
                        <td>good website</td>
                        <td ><button class="border-0 bg-transparent text-success">Approved</button></td>
                    </tr>
                </tbody>
            </table>

        </div>


    </div>
</div>