<app-header></app-header>


<div class="container">

    <div class="my-5">
        <a href="" routerLink="/all-recipes">Back to all Recipes</a>

        <h1 class="fw-bold text-center">Classic Margherita Pizza</h1>


        <div class="row my-5">

            <div class="col-md-5 ">
                <img src="https://ooni.com/cdn/shop/articles/20220211142347-margherita-9920_ba86be55-674e-4f35-8094-2067ab41a671.jpg?v=1737104576"
                    alt="no image" style="width: 100%; height: 500px;">

                <div class="my-5 d-flex justify-content-between">
                    <button class="btn btn-success">Download</button>
                    <button class="btn btn-primary">Save</button>
                </div>
            </div>

            <div class="col-md-7">

                <div class="row py-0 py-md-5 px-2">
                    <div class="col-md-4 d-flex justify-content-center align-items-center flex-column mb-md-0 mb-4 ">
                        <h5 class="fw-bold mb-md-5 mb-3">Cuisine : Italian</h5>
                        <i class="fa-solid fa-clock fa-2x"></i>
                        <p>Preperation Time</p>
                        <h5>20 Minutes</h5>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center align-items-center flex-column mb-md-0 mb-4 ">
                        <h5 class="fw-bold mb-md-5 mb-3">Serving : 4</h5>
                        <i class="fa-solid fa-fire-burner fa-2x"></i>
                        <p>Cooking Time</p>
                        <h5>10 Minutes</h5>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center align-items-center flex-column mb-md-0 mb-4 ">
                        <h5 class="fw-bold mb-md-5 mb-3">Mode of Cooking : Easy</h5>
                        <i class="fa-solid fa-utensils fa-2x"></i>
                        <p>Calorie per Serving</p>
                        <h5>100</h5>
                    </div>
                </div>


                <div class="px-2">
                    <h2>Ingredients Needed</h2>

                    <ol>
                        <li>chicken</li>
                        <li>oil</li>
                        <li>salt</li>
                        <li>water</li>
                    </ol>


                    <h2>Cooking Instructions</h2>

                    <ol>
                        <li>Preheat the Oven Preheat your oven to 220°C (425°F). If using a pizza stone, place it in the
                            oven while preheating.</li>
                        <li>Roll out the pizza dough on a floured surface to your desired thickness.Transfer the dough
                            to a baking sheet or pizza pan (lightly oiled or dusted with cornmeal).</li>
                        <li>Bake in the preheated oven for 12–15 minutes or until the crust is golden and cheese is
                            bubbly and slightly browned.</li>
                        <li>Broil for Crispiness</li>
                    </ol>



                </div>


            </div>
        </div>


        <!-- related recipe -->

        <div class="row">
            <h2>Related Recipes</h2>

            <div class="row my-5">
                <div class="col-md-3 px-3">
                    <img src="https://media.istockphoto.com/id/901354116/photo/traditional-italian-pasta-alla-norma-with-eggplant-tomato-cheese-and-basil.jpg?s=612x612&w=0&k=20&c=SIZvs4HVWT0ICi9-nP8w9TUhj3U8EksujdLyNUVpCY8="
                        alt="no image" style="width: 100%; height: 200px;">
                    <h5 class="mt-3 ">Pistachio Burfi - Sinfully Spicy</h5>


                </div>

                <div class="col-md-3 px-3">
                    <img src="https://media.istockphoto.com/id/901354116/photo/traditional-italian-pasta-alla-norma-with-eggplant-tomato-cheese-and-basil.jpg?s=612x612&w=0&k=20&c=SIZvs4HVWT0ICi9-nP8w9TUhj3U8EksujdLyNUVpCY8="
                        alt="no image" style="width: 100%; height: 200px;">
                    <h5 class="mt-3 ">Pistachio Burfi - Sinfully Spicy</h5>


                </div>

                <div class="col-md-3 px-3">
                    <img src="https://media.istockphoto.com/id/901354116/photo/traditional-italian-pasta-alla-norma-with-eggplant-tomato-cheese-and-basil.jpg?s=612x612&w=0&k=20&c=SIZvs4HVWT0ICi9-nP8w9TUhj3U8EksujdLyNUVpCY8="
                        alt="no image" style="width: 100%; height: 200px;">
                    <h5 class="mt-3">Pistachio Burfi - Sinfully Spicy</h5>


                </div>

                <div class="col-md-3 px-3">
                    <img src="https://media.istockphoto.com/id/901354116/photo/traditional-italian-pasta-alla-norma-with-eggplant-tomato-cheese-and-basil.jpg?s=612x612&w=0&k=20&c=SIZvs4HVWT0ICi9-nP8w9TUhj3U8EksujdLyNUVpCY8="
                        alt="no image" style="width: 100%; height: 200px;">
                    <h5 class="mt-3">Pistachio Burfi - Sinfully Spicy</h5>


                </div>
            </div>
        </div>
    </div>



</div>