


<div class="bg-success text-light p-3" style="height: 100vh;">

    <h4 routerLink="/admin-dashboard"><i class="fa-solid fa-bars me-2"></i>Dashbord</h4>

    <h4  routerLink="/admin-recipes" class="mt-4"><i class="fa-solid fa-bowl-rice me-2"></i>Recipe</h4>

    <h4  routerLink="/admin-users" class="mt-4"><i class="fa-solid fa-user me-2"></i>Users</h4>

    <h4  routerLink="/admin-downloads" class="mt-4"><i class="fa-solid fa-download me-2"></i>Downloads</h4>

    <h4  routerLink="/admin-requests" class="mt-4"><i class="fa-solid fa-message me-2"></i>Requests</h4>

</div>
