<div class="container">
    <div class="row mt-5">
        <div class="col-md-5">

            <form class="shadow p-5 mt-5">

                <h1 class="text-center mb-5"><i class="fa-solid fa-kitchen-set"></i> CookPedia</h1>

                <div class="mb-3">
                    <input type="text" placeholder="Username" class="form-control">
                </div>

                <div class="mb-3">
                    <input type="text" placeholder="Email" class="form-control">
                </div>

                <div class="mb-3">
                    <input type="password" placeholder="Password" class="form-control">
                </div>

                <div class="my-5">
                    <button class="btn btn-success w-100">Register</button>
                </div>

                <span>Already User? <a class="text-success" routerLink="/login">Login</a></span>
            </form>

        </div>


        <div class="col-md-1"></div>

        <div class="col-md-5 d-flex justify-content-center align-items-center my-5 my-md-0">
            <div>
                <h1>Create An Account!</h1>
                <h4 class="my-4">What you will get?</h4>
    
                <ul>
                    <li>Different Recipe</li>
                    <li>Easy way to Cook</li>
                    <li>Save your Favorite recipe</li>
                    <li>Download your Recipe</li>
                </ul>
            </div>
        </div>

        <div class="col-md-1"></div>
    </div>
</div>