<app-admin-header></app-admin-header>



<div class="container-fluid p-0" style="overflow-x: hidden;">
    <div class="row">
        <div class="col-md-2">
            <app-admin-sidebar></app-admin-sidebar>
        </div>

        <!-- remaining contents -->

        <div class="col-md-10 ps-0">
            <div class="row bg-warning p-3">
                <h1> <i class="fa-solid fa-bars"></i>Dashboard</h1>
            </div>

            <!-- colored blocks -->
            <div class="row px-2 px-md-0">
                <div class="col-md-3 p-4">
                    <div class="bg-info rounded py-4 px-3 text-light">
                        <h4><i class="fa-solid fa-user me-4"></i>Users 3+</h4>
                    </div>
                </div>

                <div class="col-md-3 p-4">
                    <div class="bg-danger rounded py-4 px-3 text-light">
                        <h4><i class="fa-solid fa-bowl-rice me-4"></i>Recipes 30+</h4>
                    </div>
                </div>

                <div class="col-md-3 p-4">
                    <div class="bg-primary rounded py-4 px-3 text-light">
                        <h4><i class="fa-solid fa-download me-4"></i>Downloads 100+</h4>
                    </div>
                </div>

                <div class="col-md-3 p-4">
                    <div class="bg-secondary rounded py-4 px-3 text-light">
                        <h4><i class="fa-solid fa-message me-4"></i>Notification 3+</h4>
                    </div>
                </div>
            </div>


        </div>


    </div>
</div>